.accountSetting {
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
  margin-right: 15px;

  i.cheveronDown {
    font-size: 15px;
    margin-left: 5px;
  }
  .accountSettingOptions {
    position: absolute;
    height: 200px;
    width: 200px;
    background: grey;
    top: 120%;
    right: 0;
  }
}
.accountSetting.sideBarOpen {
  display: none;
}

@media only screen and (max-width: 500px) {
  .accountSetting {
    margin-right: 0;
    font-size: 17px;

    i.cheveronDown {
      font-size: 15px;
      margin-left: 7px;
    }
    .accountSettingOptions {
      position: absolute;
      height: 200px;
      width: 200px;
      background: grey;
      top: 120%;
      right: 0;
    }
  }
  .accountSetting.sideBarOpen {
    display: none;
  }
}
