.accountSetting {
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
  margin-right: 15px;
  color: #fff;
  .iconsWrapper {
    i.cheveronDown {
      font-size: 15px;
      margin-left: 5px;
    }
    transition: all 0.3s ease;
    &:hover {
      color: grey;
    }
  }

  .accountSettingOptions {
    position: absolute;
    top: 100%;
    right: 0;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background: #fff;

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      display: inline-block;
      text-align: center;

      li {
        display: block;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        font-size: 18px;
        text-overflow: ellipsis;
        padding: 0 5px;
        color: grey;

        &:hover {
          color: #000;
          transform: scale(1.03);
        }
      }
      li.username {
        a.viewProfile {
          color: grey;
          display: block;
          font-size: 13px;
          text-align: left;
          line-height: 13px;
          position: relative;
          padding-bottom: 5px;
        }
        a.viewProfile::after {
          content: "";
          position: absolute;
          height: 2px;
          width: 100%;
          background: grey;
          bottom: 0;
          left: 0;
        }
      }
    }
  }
}
.accountSetting.sideBarOpen {
  display: none;
}

@media only screen and (max-width: 500px) {
  .accountSetting {
    margin-right: 0;
    font-size: 17px;

    i.cheveronDown {
      font-size: 15px;
      margin-left: 7px;
    }
    .accountSettingOptions {
      position: absolute;
      top: 100%;
      right: 0;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      border-radius: 10px;
      background: #fff;

      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        display: inline-block;
        text-align: center;

        li {
          font-size: 13px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1121px) {
  .accountSetting {
    display: flex !important;
  }
}
