.categoryWiseListSkeleton {
  .categoryHeader {
    .categoryHeading {
      position: relative;
      height: 50px;
      width: 150px;
      border-radius: 5px;
      background: yellow;
      span {
        height: 100%;
        width: 100%;
        position: absolute;
        border-radius: inherit;
        top: 0;
        left: 0;
      }
    }
  }
  .slider {
    .slideContainer {
      .renderIfVisible {
        .slide {
          span {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }
    }
  }
}
