.homePageNavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  padding: 10px 15px;
  width: 100%;
  z-index: 99;

  .navLeft {
    display: flex;
    align-items: center;

    .logoContainer {
      display: flex;
      align-items: center;
      img {
        height: 63px;
      }
    }

    ul.navLinks {
      display: flex;
      align-items: center;
      list-style: none;

      li {
        margin: 0 10px;
        font-size: 15px;
      }
    }
  }
}
