.slider {
  position: relative;
  height: 250px;
  cursor: pointer;

  .slideContainer {
    display: flex;
    align-items: center;
    height: 100%;
    overflow: hidden;
    scroll-behavior: smooth;

    .slide {
      min-width: calc((100% - 60px) / 5.5);
      height: 100%;
      margin-right: 15px;
      background: grey;
      border-radius: 8px;

      img {
        height: 100%;
        width: 100%;
        border-radius: 8px;
        user-select: none;
      }
    }
    .slide:last-child {
      margin-right: 0;
    }
  }

  .sliderBtn {
    height: 100%;
    width: 30px;
    background: linear-gradient(
      to left,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.1) 10%,
      rgba(0, 0, 0, 0.2) 20%,
      rgba(0, 0, 0, 0.3) 30%,
      rgba(0, 0, 0, 0.4) 40%,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.6) 60%,
      rgba(0, 0, 0, 0.7) 70%,
      rgba(0, 0, 0, 0.8) 80%,
      rgba(0, 0, 0, 0.9) 90%,
      rgba(0, 0, 0, 1) 100%
    );
    color: #fff;
    // border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    user-select: none;
    border: none;
  }

  .nextBtn {
    right: 0;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.1) 10%,
      rgba(0, 0, 0, 0.2) 20%,
      rgba(0, 0, 0, 0.3) 30%,
      rgba(0, 0, 0, 0.4) 40%,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.6) 60%,
      rgba(0, 0, 0, 0.7) 70%,
      rgba(0, 0, 0, 0.8) 80%,
      rgba(0, 0, 0, 0.9) 90%,
      rgba(0, 0, 0, 1) 100%
    );
  }
}

.slider.viewAll {
  height: auto;
  .slideContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    height: 100%;
    flex-wrap: wrap;
    overflow: hidden;
    scroll-behavior: smooth;

    .slide {
      height: 200px;
      width: 100%;
      gap: 15px;
      margin-right: 0;
    }
  }
}

@media only screen and (max-width: 870px) {
  .slider {
    .slideContainer {
      .slide {
        min-width: calc((100% - 60px) / 3.5);
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .slider {
    height: 150px;
    .slideContainer {
      .slide {
        min-width: calc((100% - 60px) / 3.5);
      }
    }
  }
}
@media only screen and (max-width: 440px) {
  .slider {
    height: 130px;
    .slideContainer {
      .slide {
        min-width: calc((100% - 15px) / 3);
        margin-right: 5px;
      }
    }
    .sliderBtn {
      display: none;
    }
  }
  .slider.viewAll {
    .slideContainer {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 15px;
      height: 100%;
      flex-wrap: wrap;
      overflow: hidden;
      scroll-behavior: smooth;

      .slide {
        height: 150px;
        width: 100%;
        gap: 15px;
        margin-right: 0;
      }
    }
  }
}
