.circularProgressOuter {
  height: 100px;
  width: 100px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  .circularProgressInner {
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    background: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
