.roundBtn {
  height: 45px;
  width: 45px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  color: #fff;
  transition: color 0.3s ease;
  &:hover {
    color: rgba(106, 104, 104, 0.75);
    border-color: rgba(106, 104, 104, 0.75);
  }
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
  }
}
