.authenticationPage {
  position: relative;
  background: linear-gradient(
    360deg,
    rgba(0, 0, 0, 0.8) 3%,
    rgba(0, 0, 0, 0.8465) 11.08%,
    rgba(0, 0, 0, 0.8361) 19.17%,
    rgba(0, 0, 0, 0.8187) 27.25%,
    rgba(0, 0, 0, 0.7944) 35.33%,
    rgba(0, 0, 0, 0.7632) 43.42%,
    rgba(0, 0, 0, 0.725) 51.5%,
    rgba(0, 0, 0, 0.6868) 59.58%,
    rgba(0, 0, 0, 0.6556) 67.67%,
    rgba(0, 0, 0, 0.6313) 75.75%,
    rgba(0, 0, 0, 0.6139) 83.83%,
    rgba(0, 0, 0, 0.8) 91.92%,
    rgba(0, 0, 0, 0.9) 100%
  );
}

.authenticationPage::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background: url("../assets/hero_background.jpg");
  z-index: -1;
}
