.moreInfoPage {
  background: #000;
  color: #fff;

  .moviePoster {
    background-size: cover !important;
    background-position: right top !important;
    min-height: 450px;
    position: relative;

    .movieTitle {
      position: absolute;
      bottom: 25px;
      left: 25px;
    }
  }
  .movieDetailsWrapper {
    padding: 15px 30px;

    .functionBtns {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 15px;
      margin-bottom: 20px;

      .leftBtns {
        display: flex;
        align-items: center;
      }
    }
    .aboutMovie {
      .movieGenres {
        font-size: 25px;
        margin-bottom: 15px;
        font-weight: 500;
      }
      .movieDetails {
        margin-bottom: 20px;

        .movieVideoQuality {
          border: 2px solid #fff;
          padding: 1px 2px;
        }
      }
      .movieDetails > * {
        margin-right: 10px;
      }
      .movieRating {
        margin-bottom: 25px;
      }
      .movieDescription {
        margin-bottom: 25px;
        color: grey;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .moreInfoPage {
    .moviePoster {
      background-position: center !important;
    }
  }
}
