.userPreferences {
  background: #000;
  color: #fff;
  min-height: 100vh;
  padding: 85px 15px 15px 24px;

  .tabsWrapper {
    display: flex;
    gap: 15px;

    .tab {
      margin: 15px 0;
      text-transform: capitalize;
      position: relative;

      &:hover {
        color: grey;
      }

      &:hover::after {
        transform: scale(1);
      }

      &::after {
        content: "";
        position: absolute;
        height: 2px;
        width: 100%;
        background: red;
        top: 100%;
        left: 0;
        transform: scale(0);
        transition: all 0.3s ease;
      }
    }

    .activeTab {
      color: red;
    }
  }
}
