.authenticationFormContainer {
  max-width: 450px;
  width: 100%;
  margin: auto;

  .authenticationForm {
    display: flex;
    flex-direction: column;

    button {
      background: red;
      border: none;
      color: #fff;
      font-size: 18px;
      font-weight: 600;
      border-radius: 5px;
      height: 45px;
    }
  }
}
