.moreDetails {
  background: #000;
  padding: 20px;
  .heroPageSections {
    color: #fff;
    max-width: 1200px;
    margin: auto;

    .heroPageSection {
      .sectionHeading {
        margin: 15px 0;
        font-size: 28px;
        font-weight: 700;
      }
      .cardsContainer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;

        .card {
          background: linear-gradient(180deg, #6c1f41 0%, #210d0e 100%);
          break-inside: avoid-column;
          padding: 40px;
          display: flex;
          flex-direction: column;
          width: 100%;
          border-radius: 12px;

          h2 {
            margin-bottom: 10px;
            font-size: 30px;
            font-weight: 700;
          }

          p {
            margin-bottom: 25px;
            line-height: 22px;
            font-size: 16px;
            color: rgba(255, 255, 255, 0.7);
          }

          .bottomDiv,
          .moreReasonImage {
            margin-top: auto;
            text-align: end;
          }
          .bottomDiv {
            text-align: start;
          }
        }
      }
    }
    .morereasonsToJoinSection {
      margin-top: 60px;
      .cardsContainer {
        .card {
          background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
          padding: 30px 15px 25px;
          h2 {
            font-size: 22px;
          }

          p {
            font-size: 15px;
          }
        }
      }
    }
    .plansSection {
      .cardsContainer {
        .card {
          transition: transform 0.5s ease;
          cursor: pointer;
          &:hover {
            transform: scale(1.03);
            background: linear-gradient(180deg, #922556 0%, #210d0e 99.51%);
          }
        }
      }
    }

    .FAQsSection {
      margin-top: 60px;

      .sectionHeading {
        margin: 15px 0;
        font-size: 28px;
        font-weight: 700;
      }

      .FAQsContainer {
        .questionContainer {
          line-height: 30px;
          font-size: 22px;
          font-weight: 450;
          margin-bottom: 10px;

          .questionWrapper {
            background: rgb(45, 45, 45);
            padding: 25px;
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
              background: rgb(65, 65, 65);
            }

            .question {
              flex: 1;
              font-size: 20px;
              font-weight: 400;
            }
            span.plusBtn {
              font-size: 45px;
              line-height: 35px;
              font-weight: 200;
              transition: all 0.3s ease;
            }
            span.plusBtn.opened {
              transform: rotate(-45deg);
            }
          }
          .answer {
            margin-top: 1px;
            padding: 25px;
            background: rgb(45, 45, 45);
            display: none;
            font-size: 20px;
            font-weight: 400;
            line-height: 25px;
          }
          .answer.opened {
            display: block;
          }
        }
      }
    }

    .signUpEmailSection {
      margin-top: 60px;
      margin-bottom: 30px;

      p {
        margin-bottom: 15px;
      }
    }

    .copyRight {
      color: rgba(255, 255, 255, 0.7);
      margin: 30px 0;
    }
  }
}

@media screen and (max-width: 1280px) {
  .moreDetails {
    .heroPageSections {
      .heroPageSection {
        .cardsContainer {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
}
@media screen and (max-width: 960px) {
  .moreDetails {
    .heroPageSections {
      .heroPageSection {
        .cardsContainer {
          grid-template-columns: repeat(1, 1fr);
        }
      }

      .FAQsSection {
        .FAQsContainer {
          .questionContainer {
            line-height: 25px;
            font-size: 18px;
            font-weight: 400;

            .questionWrapper {
              padding: 20px;

              span.plusBtn {
                font-size: 40px;
                line-height: 30px;
                font-weight: 200;
              }
            }
            .answer {
              font-size: 18px;
              padding: 20px;
              line-height: 22px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .moreDetails {
    .heroPageSections {
      .heroPageSection {
        .cardsContainer {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .moreDetails {
    .heroPageSections {
      .heroPageSection {
        .cardsContainer {
          grid-template-columns: repeat(1, 1fr);
        }
      }

      .FAQsSection {
        .sectionHeading {
          font-size: 22px;
        }
        .FAQsContainer {
          .questionContainer {
            line-height: 20px;
            font-size: 17px;
            font-weight: 300;

            .questionWrapper {
              padding: 15px;

              span.plusBtn {
                font-size: 30px;
                line-height: 20px;
              }
            }
            .answer {
              font-size: 15px;
              padding: 15px;
              line-height: 19px;
            }
          }
        }
      }
    }
  }
}
