.authenticationFormContainer {
  max-width: 450px;
  width: 100%;
  margin: auto;
  background: rgba(50, 50, 50, 0.7);
  padding: 35px;
  border-radius: 15px;

  .authenticationForm {
    display: flex;
    flex-direction: column;
    margin: 25px 0;
    gap: 35px;

    button {
      background: red;
      border: none;
      color: #fff;
      font-size: 18px;
      font-weight: 600;
      border-radius: 5px;
      height: 45px;
    }
  }

  p.conditionToMovePage {
    color: grey;
  }
  a {
    text-decoration: none;
    color: #fff;
    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 600px) {
  .authenticationFormContainer {
    background: #000;
    max-width: none;
    border-radius: 0;
  }
}
