.moviesGalleryWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;

  .fallbackImageWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    img {
      filter: invert(0.15);
    }
    .fallbackText {
      text-align: center;
    }
  }

  .mediaPosterWrapper {
    aspect-ratio: 2/3;
    border-radius: 8px;
    background: grey;
    display: flex;
    position: relative;

    a {
      display: flex;
      height: 100%;
      width: 100%;
      border-radius: inherit;

      img {
        height: 100%;
        width: 100%;
        border-radius: inherit;
        object-fit: cover;
      }
    }

    .removeBtn {
      position: absolute;
      right: 10px;
      top: 10px;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      padding: 5px;
      aspect-ratio: 1/1;
      height: 25px;
      background: #fff;
      color: #000;
      display: none;
      cursor: pointer;
      z-index: 99;
    }

    .rating {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      right: 15px;
      background: red;
      padding: 15px 5px;
      border-bottom: 3px solid #fff;

      &::after {
        display: none;
      }
    }

    &:hover {
      transform: scale(1.03);
      outline: 0.5px solid rgba($color: #fff, $alpha: 0.5);
      .removeBtn {
        display: flex;
      }
    }
  }
}

@media only screen and (max-width: 870px) {
  .moviesGalleryWrapper {
    grid-template-columns: repeat(4, 1fr);
    .mediaPosterWrapper {
      .rating {
        right: 8px;
        padding: 10px 5px;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .moviesGalleryWrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
