* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// @font-face {
//   font-family: "Open Sans";
//   src: url(path/to/file)
//     format(
//       Example: "truetype" or "opentype" depending on the file extension of your
//         font
//     );
// }

body {
  font-family: "Netflix Sans Regular";
  button {
    cursor: pointer;
  }
  a {
    text-decoration: none;
    color: #fff;
  }
}
