* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
*,
html {
	scroll-behavior: smooth;
}
body {
	font-family: "Netflix Sans Regular";
	background: #000;
	button {
		cursor: pointer;
	}
	a {
		text-decoration: none;
		color: #fff;
		cursor: pointer;
	}
}

body:has(#modal):has(.modalContainer) {
	overflow: hidden;
}
body.has-scroll-bar {
	padding-right: 17px;
	#root {
		.homePageNavBar {
			padding-right: 32px;
		}
	}
}
