* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Netflix Sans Regular";
  background: #000;
  button {
    cursor: pointer;
  }
  a {
    text-decoration: none;
    color: #fff;
  }
}
