.castProfileCard {
  display: inline-block;
  text-align: center;
  margin: 5px;

  .castImage {
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }

  .castName {
    line-height: 20px;
    overflow: hidden;
    text-align: center;
    margin: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .castCharacterName {
    font-size: 15px;
    line-height: 20px;
    color: grey;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .department {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: auto;
    font-size: 13px;
    line-height: 20px;
  }
}
