.seasonEpisodes {
  width: 100%;
  padding: 0 5px;
  margin-top: 35px;

  .loaderWrapper {
    width: 100vw;
    margin: auto;
  }

  .seasonName {
    margin: 10px 0;
  }
  .episodeWrapper {
    width: 100%;
    display: flex;
    gap: 15px;
    padding: 10px 0;

    .episodePoster {
      height: 140px;
      min-width: 200px;
      width: 200px;

      img {
        height: 100%;
        width: 100%;
        border-radius: 10px;
      }
    }
    .episodeDetails {
      .episodeTitle {
        text-overflow: ellipsis;
        text-transform: capitalize;
        overflow: hidden;
        width: auto;
        line-height: 35px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        word-break: break-all;
      }
      .episodeOverview {
        text-overflow: ellipsis;
        overflow: hidden;
        width: auto;
        line-height: 22px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .seasonEpisodes {
    .episodeWrapper {
      .episodePoster {
        height: 80px;
        width: 120px;
        min-width: 120px;
      }
      .episodeDetails {
        .episodeTitle {
          font-size: 20px;
          font-weight: 500;
        }
        .episodeOverview {
          font-size: 17px;
          font-weight: 400;
        }
      }
    }
  }
}
@media only screen and (max-width: 486px) {
  .seasonEpisodes {
    padding: 0;
    .episodeWrapper {
      gap: 8px;
      padding: 10px 0;

      .episodeDetails {
        .episodeTitle {
          font-size: 18px;
        }
        .episodeOverview {
          font-size: 15px;
        }
      }
    }
  }
}
